/.idea
/mysql
/logs
/config/ssls/*
/app/.env
/app/.cache
/app/.config
/app/.local
/app/vendor
/app/.bash_history
/app/.phpunit.result.cache
/app/.idea
/app/database/database.sqlite
/app/.phpunit.cache
/app/errors.log
/app/error.log
